
$backgroundColor: white;

html {
  font-size: 62.5%;
  color:$backgroundColor;
}

.yodaGrid-row {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.yodaGrid-row.yoda-selected {
  background: #ddd;
}